In [1]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
iris=load_iris()

In [3]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [4]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
df['Target']=iris.target
df['Target_name']=df.Target.apply(lambda x: iris.target_names[x])
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target,Target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

## Logistic Regression

In [6]:
l_Scores=cross_val_score(LogisticRegression(max_iter=120),iris.data,iris.target)
l_Scores

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

In [7]:
l_Scores.mean()

0.9733333333333334

## Descision Tree

In [8]:
d_Scores=cross_val_score(DecisionTreeClassifier(),iris.data,iris.target)
d_Scores

array([0.96666667, 0.96666667, 0.9       , 0.96666667, 1.        ])

In [9]:
d_Scores.mean()

0.9600000000000002

## Random Forest

In [10]:
r_Scores=cross_val_score(RandomForestClassifier(n_estimators=40),iris.data,iris.target)
r_Scores

array([0.96666667, 0.96666667, 0.93333333, 0.93333333, 1.        ])

In [11]:
r_Scores.mean()

0.96

## Support Vector Machine

In [12]:
s_Scores=cross_val_score(SVC(C=1,kernel='linear'),iris.data,iris.target)
s_Scores

array([0.96666667, 1.        , 0.96666667, 0.96666667, 1.        ])

In [13]:
s_Scores.mean()

0.9800000000000001

### SVM Gives the Highest Accuracy